header .home {
  margin-top: .7em;
  font-size: 1.4em;
  float: right;
  text-decoration: none;
}

h1 {
  float: left;
  margin-top: .2em;
  padding-top: 0;
}

main, nav, .credits {
  clear: both;
}

nav li {
  list-style-type: none;
  font-size: 1.5em;
}

.gallery li {
  float: left;
  margin: 5px;
  list-style-type: none;
  cursor: zoom-in;
}
