{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{.Title}}</title>

  <link rel="stylesheet" href="assets/photoswipe.css"> 
  <link rel="stylesheet" href="assets/default-skin/default-skin.css"> 
  <link rel="stylesheet" href="assets/app.css"> 
  <script src="assets/photoswipe.min.js"></script> 
  <script src="assets/photoswipe-ui-default.min.js"></script> 

</head>
<body>

<header>
{{if .Home}}{{else}}<a href="/" title="Home" class="home">&#9664; home</a>{{end}}
<h1>{{.Title}}</h1>
</header>

{{if .Home}}
  <nav><ul>
  {{range .Dirs}}<li><a href="{{ . }}">{{ . }}</a></li>{{else}}<div><strong>no photos yet, check back soon</strong></div>{{end}}
  </ul></nav>
{{else}}
  <main>
  {{template "photoswipe"}}
  </main>
{{end}}

<script>
var images = {{.Images}};
var pswpElement = document.querySelectorAll('.pswp')[0];
var options = {
  index: 0 // start at first slide
};
var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, images, options);
gallery.init();
</script>

</body>
</html>
{{end}}
