{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{.Title}}</title>

  <link rel="stylesheet" href="assets/photoswipe.css"> 
  <link rel="stylesheet" href="assets/default-skin/default-skin.css"> 
  <script src="assets/photoswipe.min.js"></script> 
  <script src="assets/photoswipe-ui-default.min.js"></script> 

</head>
<body>
  {{template "nav"}}
  {{template "photoswipe"}}
<script>
var images = {{.Images}};

var pswpElement = document.querySelectorAll('.pswp')[0];

// build items array
/*var items = [{
        src: 'https://placekitten.com/600/400',
        w: 600,
        h: 400
    },
    {
        src: 'https://placekitten.com/1200/900',
        w: 1200,
        h: 900
    }
];*/

// define options (if needed)
var options = {
  // optionName: 'option value'
  // for example:
  index: 0 // start at first slide
};

// Initializes and opens PhotoSwipe
var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, images, options);
gallery.init();
</script>
</body>
</html>
{{end}}
